td{
    height:10vh;
    width:10vh;
}
td{
    border:1vh black solid;
}
table{
    margin:0px;
    padding:0px;
}
div{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.noBorder{
    border:0vh;
}